@import url('vuetify/styles');

* {
  font-family: 'Poppins';
}
body {
  margin: 0px;
}
pre {
  max-width: 50vw;
}
.native-btn {
  background-color: aliceblue;
  border-style: solid;
  padding: 2px 4px;
  border-radius: 4px;
}
.native-input {
  border-style: solid;
  padding: 5px 10px;
}

.mt-2 {
  margin-top: 2px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.w-50 {
  width: 50%;
}
.flex-no-grow {
  flex: 0 0 auto;
}
.p-15 {
  padding: 15px;
}

.banner {
  position: relative;
  text-align: center;
}
.banner-img {
  border-radius: 5px;
  width: 100%;
}
.banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  color: white;
  display: inline-block;
  padding: 10px;
}
@media(max-width: 768px) {
  .banner-text-container {
    font-size: 5vw;
  }
}
.frosted-glass {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.banner-text {
  position: relative;
}

.native-avatar {
  width: 50px;
  margin-right: 5px;
}
.native-ul {
  list-style: none;
}
.native-ul > li {
  margin-bottom: 5px;
}

.boundary {
  padding: 10px 0px;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}
.json-section {
  width: 100%;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #acacac;
}

.menu-link {
text-decoration: none;
color: inherit;
}

::-webkit-scrollbar {
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


.object-content {
  margin-left: 10px;
}
.object-property-padding {
  margin-left: 14px;
}
.object-close-padding {
  margin-left: 19px;
}

.state-txt {
  color: rgb(255, 219, 92);
}
.event-txt {
  background-color: rgb(255, 175, 97);
}
.component-map-txt {
  background-color: rgb(255, 112, 171);
}